body {
    font-size: 30px;
    background-color: rgb(188, 219, 201)
  }
  
  .container {
    margin: 50px auto;
    width: 500x;
    background: #fff;
    padding: 100px;
    text-align: center;
  }
  
  .btn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #e77;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
  }
  
  #timer {
    background: rgb(230, 36, 155);
    height: 120px;
    line-height: 100px;
    font-size: 100px;
    margin-bottom: 10px;
  }
  
  .controls {
    display: flex; /* ボタン横並び */
    justify-content: space-between;
  }
  
  /* 活性・非活性 */
  .inactive {
    opacity: 0.6;
  }
